.HomePage {
    width: 100%;
    min-height: 100vh;
}

.HomePageContainer {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .HomePageOne {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        /* align-items: center; */

        .HomePageOneHeader {
            padding: 0em 2em;
            margin-top: 2em;
            display: flex;
            justify-content: center;
            align-items: center;

            height: 20vh;

            .LeftHomePageOne {
                height: 100%;
                width: 20%;
                display: flex;
                align-items: end;

                p {
                    font-family: "Archivo", sans-serif;
                    font-size: 14px;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: left;


                }
            }

            .RightHomePageOne {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: end;

                h1 {
                    font-family: "Archivo", sans-serif;
                    font-size: 50px;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: 100;
                    text-align: right;


                }
            }
        }

        .HomePageOneBottom {
            .carousel {
                margin: 3em auto;
                width: 100%;
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;

            }

            .carousel::-webkit-scrollbar {
                display: none;
            }

            .group {
                display: flex;
                width: max-content;
                /* align-items: center; */
                justify-content: center;
                animation-name: scroll;
                animation-duration: 15s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            .card {
                /* flex: 0 0 5em; */
                /* height: 5em;
                padding: 1em;
                background-color: cornflowerblue;
                font-size: 3rem;
                border-radius: .2em; */
                height: 25em;

                img {
                    /* object-fit: cover; */
                    height: 100%;
                    width: 18em;
                    cursor: pointer;

                    position: relative;
                    transition: all 0.3s ease 0s;
                }

                h1 {
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 200;
                    /* display: none; */
                    visibility: hidden;
                    font-family: "Archivo", sans-serif;
                }

                h2 {
                    position: absolute;
                    bottom: 5%;
                    left: 5%;
                    font-size: 12px;
                    font-weight: 200;
                    /* display: none; */
                    visibility: hidden;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.1em;

                    svg{
                        height:11px;
                        width: 11px;
                    }

                }
                
            }

            .card:hover h1 {
                visibility: visible;
                color: white;
            }

            .card:hover h2{
                visibility: visible;
                color: white;
            }

            .card:hover img {
                filter: brightness(60%);
            }
            


        }

    }

    .HomePageTwo {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;

        .HomeTitle {
            h1 {
                font-family: "Archivo", sans-serif;
                font-size: 60px;
                font-weight: 100;
            }
        }

        .SubTitle {
            h2 {
                font-family: "Archivo", sans-serif;
                font-size: 20px;
                font-weight: 400;

            }
        }
    }

}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: gray;

    h1 {
        width: 100%;
        text-align: center;
        font-family: "Archivo", sans-serif;
        font-size: 140px;
        font-weight: 100;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* text-transform: capitalize; */
    }
}

/* .ExtraPage {
    min-height: 100vh;
    width: 100%;
} */

.top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background-color: white;
    overflow: hidden;
    border-bottom: solid 2px black;

    .h1top {
        top: 100%;
    }
}


.bottom {
    border-top: solid 2px black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: white;
    overflow: hidden;

    .h1bottom {
        top: 0%;
    }
}

.center {
    width: 100%;
    min-height: 120vh;
    /* background-color: black; */
    margin-bottom: 2em;
}


@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}










.HomePageOurTopics{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
    .OurTopicHeading{
        margin: 2em 0em 2em 0em;
        h1{
            font-family: "Archivo", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 20px;
        }
    }

.TeamMates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;



    .TeamMateImages{
        height: 30vw;
        pointer-events: none;
        width: 23vw;
        position: fixed !important;
        background-color: transparent;
        z-index: 40;
        border-radius: 20px;
        bottom: 9%;
        left: 25%;
        visibility: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }
}



.TeamComp {
    position: relative;
    width: 100%;
    border-top: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.60em 0.5em;
    min-height: 60px;
    color: black;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease 0s;

    .TeamLeft {
        align-self: flex-start;
        padding: 0.5em;
        font-family: "Archivo";
        font-weight: 500;

    }

    .TeamRight {
        h4 {
            font-size: 45px;
            font-weight: 500;
            text-transform: uppercase;
            font-family: "Archivo", sans-serif;
        }

    }

    .overlay {

        min-height: 100%;
        width: 100%;
        background-color: black;
        color: #1e1e1e;
        position: absolute;
        top: -100%;
        left: 0;
        transition: all 0.3s ease-in-out 0s;
        z-index: -1;


    }
}

/* .TeamComp:hover{
    background-color: #ed590d;
    color: #1e1e1e;
} */

.TeamComp:hover {
    color:white;
}

.TeamComp:hover .overlay {
    top: 0;
}



.raiseTo{
    font-size: 13px;
}